<div class="header">

    <div>

        <a style="background-color: white  !important; color: black;" class="logo">
            <img width="50px" style="padding-left:10px;" src="assets/img/logo.png" />
            ClickTik
        </a>
    </div>
    <div class="headeritem">
        <a>Home</a>

    </div>
    <div class="headeritem"  *ngIf="paginationactive" >
        
    <span >
        <p style="margin-top: -10px;">Pagantion Item Per Page</p>
            <button (click)="ChangeItemPerPAge(2)">2</button>
            <button (click)="ChangeItemPerPAge(3)">3</button>
            <button (click)="ChangeItemPerPAge(6)">6</button>
    </span>
    </div>
 

    <div class="header-right" style="display: flex;">


        <div class="search-container" style="padding-right: 50px;">
            <a>
                <form>
                    <button style="border: 1px soild lightgray; " type="submit" (click)="search()"><i class="fa fa-search" ></i></button>
                    <input style="border: 1px soild lightgray;" type="text" placeholder="Search.." name="search" [formControl]="searchForm">
                </form>
            </a>


        </div>
        <div style="padding-right: 50px;" class="headeritem">
            <span onclick="document.getElementById('openModal').style.cssText='pointer-events: all;opacity:1;'">

                <i class="fas fa-shopping-cart"></i><span>{{addToCartvar}}</span>
            </span>





        </div>
        <a>Account</a>


    </div>

</div>
<hr>

<div class="body">

    <div id="openModal" class="modalDialog">

        <div><a onclick="document.getElementById('openModal').style.cssText='pointer-events: none;opacity:0;'"  title="Close" class="close">X</a>
          
          
            <h2>Cart Box</h2>
            <div *ngFor='let cartarray of cartarray ; let i = index '>
                {{cartarray}}
            </div>

       
          
        </div>
    </div>
    <h1>{{titleText}}</h1>
    <p>Home/Product/{{titleText}}</p>


    <div style="width: 100%; height: 100%;">
        <div style="border:1px solid gray ;  
    border-radius: 10px;   float: left;     zoom: 80%;
">
            <table>
                <label class="container">
                    <input id="all" style=" accent-color: skyblue;" type="checkbox" (click)="selected('all')">
                    <span class="checkmark"></span>
                    ALL
                </label>
                <tr>
                    <div *ngFor='let product of product;'>

                        <td>

                            <label class="container">
                                <input style=" accent-color: skyblue;" type="checkbox" (click)="selected(product)">
                                <span class="checkmark"></span>
                                {{product}}
                            </label>
                        </td>
                    </div>

                </tr>
            </table>

        </div>
        <div class="wrapper">
            <div *ngFor='let categorydata of categorydata ; let i = index ' style="  float: right; ">

                <div class="box1" style="padding: 5px;">
                    <div class="card">
                        <span
                            style="position: absolute; margin: 20px; padding: 5px; background-color:#56D9D9 ; border-radius: 10px;">-{{categorydata.discountPercentage}}%</span>
                        <img src="{{categorydata.thumbnail}}" alt="Avatar" style="  width:100%;
                            height:200px; border-radius: 15px;">

                        <!-- <div *ngFor='let categoryimg of categorydata.images ; let n = index ' >
                            <img  src="{{categoryimg}}" alt="Avatar" style="  width:100%;
                            height:200px; border-radius: 15px;"  >
                        </div> -->

                        <div class="container">
                            <h4><b>{{categorydata.title}}</b></h4>
                            <p>{{categorydata.description}}</p>
                            <p>{{categorydata.price}} USD </p>
                            <p>Brand: {{categorydata.brand}}</p>
                            <p>Category: {{categorydata.category}}</p>
                            <p>In Stock: {{categorydata.stock}}</p>
                            <p style="color: #F4B000; text-align: right;">
                                <span style="color: green; " *ngIf="cartarray.includes(categorydata.title)" >
                                    <i class="far fa-check-circle"></i>
                                    In Cart
                                </span>

                                <i class="fas fa-star"></i>
                                   {{categorydata.rating}}
                                
                            </p>
                            <div style="padding: 5px;">
                                <input style="cursor: pointer;" (click)="addToCart(categorydata.title)" class="button1" value="Add to Cart">

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="pagination" *ngIf="paginationactive">
            <a (click)="pagantionMinus()">&laquo;</a>

            <div *ngFor='let n of numSequence(pages);let i = index ' style="display: contents; ">
                <a [ngClass]="{'active': PageNgClass == i }" (click)="pagantion(i)" id="{{i}}">{{i+1}}</a>
            </div>
            <a (click)="pagantionPlus()">&raquo;</a>
        </div>



    </div>

</div>

 <footer>
    <div style="margin: 30px;">
        <a class="logo">
            <img width="40px" style="padding-left:10px;" src="assets/img/logo.png" />
            ClickTik
        </a>
        <a style=" float: right;">
            © 2022 ClickTik
        </a>

    </div>


</footer>